/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.text-strong {
  color: $customColor;
}

.custom-image{
  margin: 20px 0;
  width: 400px;
  border-radius: 20px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.366);
  border: 15px solid rgb(249, 242, 178);
}

.custom-title {
  font-size: 1.3rem;
  font-weight: bolder;
  color: rgb(84, 84, 84);
  text-decoration: underline;
  text-transform: capitalize;
}